/* This is a CSS file */

.flont{
  text-align: center;
  width: 100%;
  height:10%;
  background-color: #008b8b;
  position:fixed;	
	top:0;
  left: 0; /* 左を基準 */
  /* これを%指定などで可変にする。またはJavaScriptで値を変化させる。 */
}
.flont p {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  color: white;
}

.btn1{
  font-size: 18px;
  font-weight: bold;
  width: 20%;
  height:5%;
  color: rgb(0, 0, 0);
  background-color: white;
  text-align: center;
  position: absolute; 
  top: 3%;  /* 上を基準 */
  right: 5%; /* 右を基準 */
}

table {
  border-collapse: collapse;
   border-width: 1px;
   border-style: solid;
   border-color: black; /* 外枠 */
}
table th, table td {
   border-style: solid;/* 線種 */
   border-width: 1px; /* 線の太さ */
   border-color: black; /* 線色 */
}

.item-day{
  font-size: 18px;
  font-weight: bold;
  width: 19%;
  height:13%;
  color: rgb(0, 0, 0);
  text-align: center;
  position: fixed;
  top: 10%;
  left: 0;
}

.item-time{
  font-size: 18px;
  font-weight: bold;
  width: 3%;
  height:13%;
  color: rgb(0, 0, 0);
  text-align: center;
  position: fixed;
  top: 10%;
  left: 19%;
}

.item1{
  font-size: 18px;
  font-weight: bold;
  width: 78%;
  height:13%;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 10%;
  left: 24%;
}

.item2{ 
  background: linear-gradient(#ccc 1px, transparent 1px) white;
  background-size: auto 1.7em;
  line-height: 1.7em;
  font-size: 16px;
  font-weight: bold;
  width: 81%;
  height:13%;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 10%;
  left: 19%;
}